
html 
    margin-left: auto;
    margin-right: auto;
    width 960px

p 
    color #070707

.header-ul
    
    width 100%
    padding 0
    margin-left -92px
    padding-top 33px
    padding-bottom 14px
    width:1160px

.header-ul .header-li 
    
    text-align center
    display inline-block
    width 226px

    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color #828282
.header-ul .header-li.nav-active
    color #070707
.header 
    width:100%
    height 768px

 
.hrLine
    border-top: 2px solid #828282;

.preview
    position relative
.header-name 
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    margin-top 30px
    margin-bottom 50px
.header-info
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;

    position absolute

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    margin-top:-102px
.header-lang
    writing-mode: vertical-rl;
    transform-origin: center;
    transform: rotate(-180deg);

    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;

    position absolute
    right: 0;
    margin-top:-125px
.span-lang
    color #828282
.previewImg
    width 100%
.main 
    width 100%
.about-me
    height 506px
    background-color #F6F6F6
    position relative

.AM-textBox
    padding-top 110px
    position absolute
    width 100%
.AM-title 
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;

    padding-bottom 10px

.AM-Box2
    width 485px
    height 218px
    margin-left: auto;
    margin-right: auto;

.AM-text
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 20px
.skills
    padding-top 91px
    padding-bottom 91px
.S-title
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;

    padding-bottom 40px
.S-text
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;

    padding-bottom 80px
.S-Box3
    display flex
    flex-flow: row wrap; 
    
.flexBox
    width 240px
    display flex
    justify-content center

    flex-flow: column wrap; 

.skillsImg
    height 90px
    margin-left: auto;
    margin-right: auto;
.flexBoxText
    text-align center

    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    color: #828282;

    margin-top 23px
.F-text
    height 34px
    position relative
    bottom -6px

.stars p
    font-size: 26px
    letter-spacing: 3px
    text-align center
.spanStar
    color #bbb
.portfolio
    height 2253px
    background-color #F6F6F6

.Port-title 
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    padding-top:80px
    padding-bottom: 52px
    margin 0

.portImg
    width 100%

.BLOCK
    display flex
    align-self center
    flex-direction: column
.portLink
    text-align center
    padding-top 44px
    padding-bottom 99px

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;

    /* Black */

    color: #070707;

.portLink:hover
    color: #070707;
    cursor: pointer

.footer
    width 100%
    height 440px

.Footer-title
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    padding-top:100px
    padding-bottom: 35px
    margin 0

.footer-Box2 
    display flex
    justify-content center
.Footer-text1
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;

    width 250px
    height 60px

.footer-Button
    background-color black
    width: 180.5px;
    height: 42px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;

    margin-left: auto;
    margin-right: auto;

.text-button
    color white
    text-align center
    padding-top 7px

.footer-Links
    display flex
    justify-content center
.linksImg
    margin-top 74px
    width 400px
    text-align center

.Footer-text2
    text-align center

.footer-Box3
    display flex
    justify-content center

.Footer-text2
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #828282;

    width: 250px;
    height: 42px;

    margin-top 47px
